In [2]:
import pandas as pd

df = pd.read_csv('../raw_data/historical_emissions_agri.csv')

In [4]:
df_melted = pd.melt(df, id_vars=['ISO', 'Country','Data source','Sector', 'Gas', 'Unit'], var_name = 'Year', value_name = 'Value')

In [14]:
df_melted.head()


df_melted['Timestamp'] = pd.to_datetime(df_melted['Year'])

df_melted.head()

,ISO,Country,Data source,Sector,Gas,Unit,Year,Value,Timestamp
0,WORLD,World,Climate Watch,Agriculture,All GHG,MtCO₂e,2021,5864.00,2021-01-01
1,WORLD,World,Climate Watch,Agriculture,CH4,MtCO₂e,2021,3551.32,2021-01-01
2,WORLD,World,Climate Watch,Agriculture,N2O,MtCO₂e,2021,2312.67,2021-01-01
3,IND,India,Climate Watch,Agriculture,All GHG,MtCO₂e,2021,752.08,2021-01-01
4,CHN,China,Climate Watch,Agriculture,All GHG,MtCO₂e,2021,634.40,2021-01-01

In [15]:
df_melted.dtypes

ISO                    object
Country                object
Data source            object
Sector                 object
Gas                    object
Unit                   object
Year                   object
Value                 float64
Timestamp      datetime64[ns]
dtype: object

In [17]:
df_melted.to_csv('../backend/data/cleaned/agri_emissions.csv')