In [25]:
import glob 
import pandas as pd
import os

filenames = glob.glob('../backend/data/cleaned/*.csv')

arr = [] 

for idx, fname in enumerate(filenames) :
    full_path = os.path.abspath(fname)
    df = pd.read_csv(full_path, on_bad_lines='skip')
    arr.append(df)
    print(f"File {idx} : {fname} has been read successfully")



print(arr[2])


# for "Year" and "Code" Columns
# if float convert to int
# if string convert to int
for df in arr :
    
    for col in df.columns :
        if col == "Year":
            if df[col].dtype == "float64" :
                df[col] = df[col].astype(int)
            elif df[col].dtype == "object" :
                df[col] = df[col].astype(int)
                
    df.columns = df.columns.str.strip()
    
    for col in df.select_dtypes(include=["object"]).columns:
        df[col] = df[col].str.strip()
    
                
                
    



merged_df = arr[0]

index = 0 
for df in arr[1:] :
    print("DTYPES BEFORE MERGING : ")
    print(merged_df.dtypes, 'df.dtypes')
    print("------------------------------------------")
    print("MERGING: ", filenames[index])
    print("#########################################################################################################")
    print("MERGING DTYPES")
    print(df.dtypes, 'df.dtypes')
    print("#########################################################################################################")
    
    merged_df = pd.merge(merged_df, df, on=['Year', 'Code'], how = 'outer', suffixes = (f'_left{index}', f'_right{index}'))
    
    # print(merged_df)
    index+= 1

merged_df = merged_df.drop_duplicates()

print("FINAL DF")
merged_df.columns

File 0 : ../backend/data/cleaned\cleaned_GDP.csv has been read successfully
File 1 : ../backend/data/cleaned\cleaned_pct_renewable_energy.csv has been read successfully
File 2 : ../backend/data/cleaned\cleaned_renewable_output_gwh.csv has been read successfully
File 3 : ../backend/data/cleaned\country_co2_emissions.csv has been read successfully
File 4 : ../backend/data/cleaned\country_co2_emissions_fossil_land.csv has been read successfully
File 5 : ../backend/data/cleaned\emissions_merged_no2_ch4_.csv has been read successfully
          Country Code    Year Renewable_Output_GWh
0     Afghanistan  AFG  1990.0                  764
1     Afghanistan  AFG  1991.0                  690
2     Afghanistan  AFG  1992.0                  478
3     Afghanistan  AFG  1993.0                  475
4     Afghanistan  AFG  1994.0                  472
...           ...  ...     ...                  ...
6729        World  GWL  2011.0                   ..
6730        World  GWL  2012.0                   ..
6731        World  GWL  2013.0                   ..
6732        World  GWL  2014.0                   ..
6733        World  GWL  2015.0                   ..

[6734 rows x 4 columns]
DTYPES BEFORE MERGING :
Entity                    object
Code                      object
Year                       int64
GDP growth (annual %)    float64
dtype: object df.dtypes
------------------------------------------
MERGING:  ../backend/data/cleaned\cleaned_GDP.csv
#########################################################################################################
MERGING DTYPES
Entity             object
Code               object
Year                int32
Renewable_Share    object
dtype: object df.dtypes
#########################################################################################################
DTYPES BEFORE MERGING :
Entity_left0              object
Code                      object
Year                       int64
GDP growth (annual %)    float64
Entity_right0             object
Renewable_Share           object
dtype: object df.dtypes
------------------------------------------
MERGING:  ../backend/data/cleaned\cleaned_pct_renewable_energy.csv
#########################################################################################################
MERGING DTYPES
Country                 object
Code                    object
Year                     int32
Renewable_Output_GWh    object
dtype: object df.dtypes
#########################################################################################################
DTYPES BEFORE MERGING :
Entity_left0              object
Code                      object
Year                       int64
GDP growth (annual %)    float64
Entity_right0             object
Renewable_Share           object
Country                   object
Renewable_Output_GWh      object
dtype: object df.dtypes
------------------------------------------
MERGING:  ../backend/data/cleaned\cleaned_renewable_output_gwh.csv
#########################################################################################################
MERGING DTYPES
Entity                   object
Code                     object
Year                      int64
Annual CO2 emissions    float64
dtype: object df.dtypes
#########################################################################################################
DTYPES BEFORE MERGING :
Entity_left0              object
Code                      object
Year                       int64
GDP growth (annual %)    float64
Entity_right0             object
Renewable_Share           object
Country                   object
Renewable_Output_GWh      object
Entity                    object
Annual CO2 emissions     float64
dtype: object df.dtypes
------------------------------------------
MERGING:  ../backend/data/cleaned\country_co2_emissions.csv
#########################################################################################################
MERGING DTYPES
Entity                                                  object
Code                                                    object
Year                                                     int64
Annual CO2 emissions from land-use change              float64
Annual CO2 emissions from fossil fuels and industry     object
dtype: object df.dtypes
#########################################################################################################
DTYPES BEFORE MERGING :
Entity_left0                                            object
Code                                                    object
Year                                                     int64
GDP growth (annual %)                                  float64
Entity_right0                                           object
Renewable_Share                                         object
Country                                                 object
Renewable_Output_GWh                                    object
Entity_left3                                            object
Annual CO2 emissions                                   float64
Entity_right3                                           object
Annual CO2 emissions from land-use change              float64
Annual CO2 emissions from fossil fuels and industry     object
dtype: object df.dtypes
------------------------------------------
MERGING:  ../backend/data/cleaned\country_co2_emissions_fossil_land.csv
#########################################################################################################
MERGING DTYPES
gdp                               float64
nitrous_oxide_per_capita          float64
methane_per_capita                float64
gas_co2_per_capita                float64
total_ghg                         float64
country                            object
co2_per_capita                    float64
Year                                int64
Code                               object
population                          int64
gdp.1                             float64
temperature_change_from_ch4       float64
temperature_change_from_ghg       float64
temperature_change_from_co2       float64
temperature_change_from_n2o       float64
land_use_change_co2_per_capita    float64
co2                               float64
methane                           float64
nitrous_oxide                     float64
total_ghg.1                       float64
Country Name                       object
Country Code                       object
Indicator Name                     object
Indicator Code                     object
emissions                         float64
dtype: object df.dtypes
#########################################################################################################
FINAL DF

Index(['Entity_left0', 'Code', 'Year', 'GDP growth (annual %)',
       'Entity_right0', 'Renewable_Share', 'Country', 'Renewable_Output_GWh',
       'Entity_left3', 'Annual CO2 emissions', 'Entity_right3',
       'Annual CO2 emissions from land-use change',
       'Annual CO2 emissions from fossil fuels and industry', 'gdp',
       'nitrous_oxide_per_capita', 'methane_per_capita', 'gas_co2_per_capita',
       'total_ghg', 'country', 'co2_per_capita', 'population', 'gdp.1',
       'temperature_change_from_ch4', 'temperature_change_from_ghg',
       'temperature_change_from_co2', 'temperature_change_from_n2o',
       'land_use_change_co2_per_capita', 'co2', 'methane', 'nitrous_oxide',
       'total_ghg.1', 'Country Name', 'Country Code', 'Indicator Name',
       'Indicator Code', 'emissions'],
      dtype='object')

In [18]:
merged_df

,Entity_left0,Code,Year,GDP growth (annual %),Entity_right0,Renewable_Share,Country,Renewable_Output_GWh,Entity_left3,Annual CO2 emissions,...,land_use_change_co2_per_capita,co2,methane,nitrous_oxide,total_ghg.1,Country Name,Country Code,Indicator Name,Indicator Code,emissions
0,NaN,AND,1750,NaN,NaN,NaN,NaN,NaN,Andorra,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,AUS,1750,NaN,NaN,NaN,NaN,NaN,Australia,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,BRN,1750,NaN,NaN,NaN,NaN,NaN,Brunei,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,BTN,1750,NaN,NaN,NaN,NaN,NaN,Bhutan,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,CIV,1750,NaN,NaN,NaN,NaN,NaN,Cote d'Ivoire,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74995,Samoa,WSM,2023,7.99,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74996,"Yemen, Rep.",YEM,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74997,South Africa,ZAF,2023,0.60,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74998,Zambia,ZMB,2023,5.83,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74999,Zimbabwe,ZWE,2023,4.96,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
merged_df.to_csv('output/merged_all.csv', index=False)